.profile{
    display: flex;
    flex-direction: column;
}

.side-header{
    display: flex;
    justify-content: flex-start;
}

.custom-btn{
    /* layout */
    width: 50px;
    height: 50px;
    /* font-size: 2rem; */

    /* style */
    border-radius: 50px;
    /* color: var(--light); */
    border: none;
    background-color: var(--accent-blue-semi);
    box-shadow: var(--inset-shadow);
}

.side-h2{
    color: var(--light);
    text-align: center;  

    /* h2 */
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    line-height: var(--h-2-line-height);
    letter-spacing: var(--h-2-letter-spacing);

}
