/* .pr{
    min-width: 100vw;
    min-height: 100vh;
} */

/* MOBILE SECTION */
.pr-mobile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    /* border: 2px solid red; */
}
.pr-mc{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    color: var(--light);
}

.pr-mc-user,
.pr-mc-user-le,
.pr-mc-avatar-le-text{
    display: flex; 
    align-items: center;
}

.pr-mc-user{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-grey);
}

.pr-mc-user-le{
    flex: 1 1 0%;
}

.pr-mc-user-avatar-icon{
    width: 80px;
    height: 80px;
    background-color: blueviolet;
    border-radius: 50%;

}

.pr-mc-user-le-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    text-align: left;
    gap: 0.625rem;
}

.pr-mc-user-show-pr{
    font-family: var(--info-sm-font-family);
    font-size: var(--info-sm-font-size);
    font-style: var(--info-sm-font-style);
    font-weight: var(--info-sm-font-weight);
    letter-spacing: var(--info-sm-letter-spacing);
    line-height: var(--info-sm-line-height);
    margin: 0;
}

.pr-mc-btn{
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pr-mc-text-header{
    font-family: var(--h-4-font-family);
    /* font-size: var(--h-4-font-size); */
    font-size: 24px;
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    line-height: var(--h-4-line-height);
    letter-spacing: var(--h-4-letter-spacing);
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
}

.pr-mc-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pr-mc-link{
    color: var(--light);
    
}

.pr-mc-list-item{

    color: var(--light);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-grey);
    /* border: 2px solid red; */
}

.pr-mc-list-item-wrapper,
.pr-mc-list-item-le{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pr-mc-list-item-le{
    justify-content: flex-start;
    flex: 1;
}

.pr-mc-icon-le,
.pr-text-body-le,
.pr-pr-mc-icon-ri,
.pr-mc-user-name{
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);

    margin: 0;
}

.pr-mc-icon-le,
.pr-mc-icon-ri{
    font-size: var(--body-desktop-font-size);
}


/* MAIN DESKTOP */
.pr-desktop{
    display: none;
}


@media screen and (min-width: 768px) {
    .pr-mobile{
        display: none;
    }

    .pr-desktop{
        margin-top: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'a-card a-card'
        'b-card c-card'
        'd-card e-card';
        place-items: center;
        justify-content: space-evenly;
        gap: 15px 10px;
    }
    
    /* .a-card,
    .b-card,
    .c-card,
    .d-card,
    .e-card{
        width: 430px;
        height: 250px;
    } */

    .a-card{
        grid-area: a-card;
    }

    .b-card{
        grid-area: b-card;
    }

    .c-card{
        grid-area: c-card;
    }

    .d-card{
        grid-area: d-card;
    }

    .e-card{
        grid-area: e-card;
    }
}
