.profile{
    min-width: 100vw;
    min-height: 100vh;
}

/* MOBILE SECTION */
.mobile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.mobile-content{
    margin-left: 3rem;
    margin-right: 3rem;
}

.mc-btn{
    display: inline-block;
    width: 400px;
    height: 100px;
    /* font-size: 2rem; */
    margin: 0 auto;
    margin-top: 5rem;
}

.mc-text{
    margin-top: 5rem;
    /* border: 2px solid green; */
}

.mc-text-header,
.mc-text-list{
    /* layout */
    color: var(--light);
    text-align: left;
    /* margin-left: 3rem; */

    /* h4 */
    font-size: var(--h-4-font-size);
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    line-height: var(--h-4-line-height);
    letter-spacing: var(--h-4-letter-spacing);

    /* border: 2px solid green; */

}

.mc-text-list{
    /* layout */
    padding-left: 0;
    /* margin-right: 3rem; */

    /* style */
    list-style-type: none;

    /* body */
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
}

.mc-text-list li{
    display: flex;
    align-items: center;
    position: relative;

    /* font-size: 2rem; */

    gap: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(244, 252, 255, 1);
}

.mc-icon,
.mc-icon-re
{
    font-size: 2rem;
    position: absolute;
    top: 22px;
}

.mc-icon{
    left: 0;
}

.mc-icon-re{
    /* left: 300px; */
    right: 0;
}


/* MAIN DESKTOP */
.profile-desktop{
    display: none;
}






@media screen and (min-width: 768px) {
    .mobile{
        display: none;
    }

    .profile-desktop{
        margin-top: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'a-card a-card'
        'b-card c-card'
        'd-card e-card';
        place-items: center;
        justify-content: space-evenly;
        gap: 15px 10px;
    }
    
    .a-card,
    .b-card,
    .c-card,
    .d-card,
    .e-card{
        width: 430px;
        height: 250px;
    }

    .a-card{
        grid-area: a-card;
    }

    .b-card{
        grid-area: b-card;
    }

    .c-card{
        grid-area: c-card;
    }

    .d-card{
        grid-area: d-card;
    }

    .e-card{
        grid-area: e-card;
    }

  

    
}