.layoutContainer {
    background-color: var(--blk);
    min-height: 200vh;
    width: 100vw;
}

.background {
    background-image: url('../../assets/background_goingfor.png');
    width: 100vw;
    height: 85vh;
    background-size: cover;
    background-position: center;
}