.layoutContainer {
    background-image: url('../../assets/background_goingfor.png');
    background-color: var(--blk);
    min-height: 200vh;
    width: 100vw;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}