.layoutContainer {
    background-color: var(--blk);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    background-image: url('../../assets/goingfor_background.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    /* min-height: 100vh;  */
    flex-grow: 1;
}
