.card {
  /* width: 39rem; */
  /* height: 25rem; */
  width: 350px;
  height: 250px;
  background-color: var(--accent-blue-semi);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: var(--drop-shadow);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle, .cardText {
  font-family: "Roboto-Bold", Helvetica;
  font-style: normal;
  letter-spacing: 0.48px;
  line-height: normal;
  color: rgba(244, 252, 255, 1);
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
}

.cardText {
  font-size: 24px;
  font-weight: 400;
}