.def_btn {
    /* subtitle-sm */
    color: var(--light);
    font-family: var( --subtitle-sm-font-family);
    font-size: var(--subtitle-sm-font-size);
    font-style: var(--subtitle-sm-font-style);
    font-weight: var(--subtitle-sm-font-weight);
    line-height: var(--subtitle-sm-line-height);
    font-variant: small-caps;
    letter-spacing: var(--subtitle-sm-letter-spacing);

    /* layout */
    width: 9rem;
    height: 4.25rem;
    display: flex;
    padding: 0.75rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    /* style */
    border-radius: 1.25rem;
    border: 1px solid var(--accentBlue);
    background: var(--accent-blue-semi);
    box-shadow: var(--inset-shadow);
}