.footercontainer {
    max-width: 100%;
    background-color: var(--blk);
    color: var(--light);
}

.footericons {
    color: var(--light);
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-link{
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.iconcontainer {
    height: 80%;
    align-items: center;
}

.icon {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rechtl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: -1rem;
}
.rechtl-link {
    color: grey;
    text-decoration: none;
}

.rechtl-link:hover {
    color: var(--light);
}

