/* Styling for the form container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Styling for form labels */
label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
}

/* Styling for form input fields and textareas */
input[type="text"],
input[type="email"],
textarea {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Styling for the submit button */
button {
    font-size: 18px;
    width: 50px;
    height: 50px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



@media (min-width: 400px) {
    .form-container {
        max-width: 300px;
    }

    label {
        font-size: 24px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 18px;
    }

    button {
        width: 30%;
    }
}

/* Media query for screens wider than 768px (tablets) */
@media (min-width: 768px) {
    .form-container {
        max-width: 600px;
    }

    label {
        font-size: 24px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 18px;
    }

    button {
        width: 30%;
    }
}

/* Media query for screens wider than 1024px (desktop) */
@media (min-width: 1024px) {
    .form-container {
        max-width: 800px;
    }

    label {
        font-size: 28px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 20px;
    }

    button {
        width: 10%;
    }
}