/* .fb{
    min-width: 100vw;
    min-height: 100vh;
} */

.fb-mobile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

/* MOBILE SECTION */
.fb-mc
{
    color: var(--light);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.fb-mc-btn{
    padding: 1rem 1.625rem;
}