.wl-ph-wrapper{
    margin-top: 7rem;
}

.wl-mc-wrapper,
.wl-card-wrapper,
.wl-mc{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 2rem;
}

.wl-mc{
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.wl-mc-link{
    align-self: center;
}

.wl-mc-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.wl-card-wrapper{
    /* width: 300px; */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.wl-text-info,
.wl-text-le{
    display: flex;
    color: var(--light);
}

.wl-text-info{
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.wl-del{
    align-self: flex-end;
}

.wl-del-btn{
    color: var(--light);
    text-align: right;
    text-decoration: underline;
    background: none;
    outline: none;
    border: none;
}


.wl-text-le{
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.wl-subtitle{
    color: var(--light);
    font-family: var(--subtitle-sm-font-family);
    font-size: var(--subtitle-sm-font-size);
    font-style: var(--subtitle-sm-font-style);
    font-weight: var(--subtitle-sm-font-weight);
    letter-spacing: var(--subtitle-sm-letter-spacing);
    line-height: var(--subtitle-sm-line-height);
    font-variant: small-caps;
}

.wl-sr-ri,
.wl-sr-le{
    font-family: var(--stars-reviews-font-family);
    font-size: var(--stars-reviews-font-size);
    font-style: var(--stars-reviews-font-style);
    font-weight: var(--stars-reviews-font-weight);
    letter-spacing: var(--stars-reviews-letter-spacing);
    line-height: var(--stars-reviews-line-height);
}

.wl-sr-le-wrapper{
    margin-top: 0.5rem;
}

.wl-sr-le{
    margin: 0.3rem;
    margin-left: 0;
}

.wl-text-ri{
    text-align: right;
    margin-top: 0.5rem;
}

.wl-list-empty-text{
    margin-top: 5rem;

    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
    line-height: var( --body-line-height);

    color: var(--light);
}


@media screen and (min-width: 816px) {
    .wl-ph-wrapper{
        margin-top: 9rem;
    }

    .wl-mc-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
    
