/* .wl{
    min-width: 100vw;
    min-height: 100vh;
} */

.wl-mobile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.wl-mc{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    color: var(--light);
}