/* .ho{
    min-width: 100vw;
    min-height: 100vh;
} */

.ho-mobile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.ho-mc{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    color: var(--light);

}