
body {
    margin: 0;
    padding: 0;
    background-color: var(--blk);
    font-family: 'Roboto';
  }

.nav-container {
    background-color: var(--blk);
    width: 100vw;
    height: 6rem;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    height: 10rem;
    padding-left: 1rem;
}


.navbar {
  height: 60px;
  background-color: var(--blk);
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements {
    padding-right: 1rem;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li {
    margin-right: 2rem;
  }
  

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-elements ul a.active {
  color: var(--accentblue);
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blk);
}

span {
    font-size: 16px;
    font-weight: 400;
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
}

.submenu {
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: var(--blk);
    width: 20rem; 
    max-height: 80vh; 
    padding: 1rem 0;
    display: block;
    flex-direction: column;
    z-index: 1;
    color: var(--light);
    overflow-y: auto; 
}

.submenu li {
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--light);
    text-decoration: none;
}

.submenu a {
    font-size: 16px;
    font-weight: 400;
    color: var(--light);
    text-decoration: none;
}

.submenu a:hover {
    color: var(--accentblue);
    background-color: var(--gray); /* Hintergrundfarbe beim Hover anpassen */
}

.submenu li a:active {
    color: var(--accentblue);
    font-weight: 500;
}




@media (max-width: 600px) {

  .nav-container {
    height: 4rem;
  }

  .nav-logo img {
    height: 6rem;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .menu-icon img {
    width: 3rem;
    padding: 1rem;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: var(--blk);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

}