.fb{
    min-width: 100vw;
    min-height: 100vh;
}

.fb-mobile{
    width: 100vw;
}

/* MOBILE SECTION */
.fb-mobile,
.fb-mc,
.fb-mc-form-container,
.fb-mc-from{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    /* border: 2px solid red; */
}
.fb-mobile 
{
    color: var(--light);
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

.fb-mc-btn{
    padding: 1rem 1.625rem;
}