.contactPageContainer {
    /* margin-top: 6rem; */
    display: flex;
    flex-direction: column;
    color: var(--light);
    font-size: 1.6rem;

}

.cp-ph-wrapper{
    margin-top: 7rem;
}

.cp-subtitle-wrapper{
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
}


.cp-subtitle-text{
    font-family: var(--subtitle-sm-font-family);
    font-size: var(--subtitle-sm-font-size);
    font-style: var(--subtitle-sm-font-style);
    font-weight: var(--subtitle-sm-font-weight);
    letter-spacing: var(--subtitle-sm-letter-spacing);
    line-height: var(--subtitle-sm-line-height);
}

.contactForm {
    background-color: var(--accent-blue-semi);
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 2rem;
}

.contactFormInput, 
.contactFormButton {
    background-color: var(--accent-blue-semi);
    color: var(--light);
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    padding-left: 0.5rem;
}

.contactFormTextarea {
    background-color: var(--accent-blue-semi);
    font-size: 1.6rem;
    padding-left: 0.5rem;
    color: var(--light);
    font-family: 'Roboto';
}

.developers {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.developerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.developerCard {
    width: 24%;
}

.developerImg {
    width: 10rem;
    border-radius: 50%;
}


@media screen and (min-width: 816px) {
    .cp-ph-wrapper{
        margin-top: 9rem;
    }    
}
